* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #443f39;
}

.container {
  background-color: #968774;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-transform: capitalize;
  width: 200px;
}

.calculateAge {
  padding: 5px 10px;
  text-transform: capitalize;
  cursor: pointer;
}
