@import "tailwindcss";

#btn {
  overflow: hidden;
}

.ripple {
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation: ripple 0.6s ease-in-out;
}

@keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(6);
    opacity: 0;
  }
}
