* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #525050;
  color: #6d4a4a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  background-color: #d8c3c3;
  border-radius: 10px;
  overflow: hidden;
}

.header {
  font-size: 2em;
  padding: 10px;
  background-color: #2c2a2a;
  text-transform: capitalize;
}

.year {
  padding: 10px;
  font-size: 2em;
}

.remainingTimingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 15px;
  background-color: #aea0a0;
}

.remainigTimeLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
}

.remainigTimeLeft span {
  font-size: 14px;
  text-transform: capitalize;
  margin-top: 5px;
}
