* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #68767a;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #e4e4e4;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;
  box-shadow: -1px -1px 10px 3px #0000008c, 1px 1px 10px 3px #0000008c;
}

.month {
  background-color: #e01e1e;
  padding: 5px 10px;
  font-size: 25px;
  color: white;
}

.date {
  font-size: 45px;
}

.year {
  font-size: 20px;
  margin-bottom: 10px;
}
