* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #377a8d;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contaner {
  background-color: #e4e4e4;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;
}

.monthEl {
  background-color: #e01e1e;
  padding: 10px;
  font-size: 25px;
  color: white;
}

.date {
  font-size: 45px;
}

.year {
  font-size: 20px;
  margin-bottom: 10px;
}
